@import 'partials/setup';
@import 'partials/header';
@import 'partials/menu';
@import 'partials/gallery';
@import 'partials/specials';
@import 'partials/contact';
@import 'partials/footer';
 

body {
	margin: 0 auto;
	max-width: 100%;
	font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

h2 {
	display: flex;
    justify-content: center;
    font-family: 'Parisienne', cursive;
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 150px;
    padding-top: 40px;
}

h2:after {
	display: block;
    content: '';
    position: absolute;
    background-color: black;
    width: 45px;
    height: 1px;
}

h4 {
	text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 0px;
    font-style: italic;
}
 

@media (max-width: 768px) {
    h1 {
        background-color: transparent;
    }
    .menuContent {
        flex-direction: column;
        text-align: center;
    }
    #galleryDays {
        flex-direction: column;
        display: flex;
    }
}

@media (max-width: 480px) {
    #mainNav {
        flex-direction: column;
    }
    #navItems {
        flex-wrap: wrap;
        max-width: 100%;
    }
    #logoAndButton {
        display: flex;
        flex-direction: column;
        left: 0;
        width: 100%;
        flex-wrap: wrap;
    }
    #seeMoreButton {
        width: 100%;
    }
    .formText {
        width: 100%;
    }
    #footerContent {
        flex-direction: column;
    }
}






