footer {
	background-color: rgba(133, 161, 31, 0.6);
	margin-top: 150px;
	padding: 50px;
}

#footerContent {
	display: flex;
    justify-content: space-evenly;
    h4 {
    	font-size: 21px;
    }
    div {
    	display: flex;
	    flex-direction: column;
	    text-align: left;
	    align-items: center;
    }
}

#callUs p:first-child, #findUs p:first-child, #hoursMonFri p:first-child, #hoursSatSun p:first-child {
	margin-bottom: 0;
}

#callUs p:nth-child(2), #findUs p:nth-child(2), #hoursMonFri p:nth-child(2), #hoursSatSun p:nth-child(2) {
	margin-top: 5px;
}

input[type=text] {
	padding: 5px;
    margin-top: 6px;
}

div#footerSocialIcons {
	display: flex;
    flex-direction: row;
    list-style-type: none;
    li {
    	padding: 10px;
    	font-size: 20px;
    }
    .fa {
    	color: black;
    }
}


