#galleryContent {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.galleryImage {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


#pic1, #pic2, #pic3 {
	display: none;
}
