article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background-image: url("../../assets/header-image.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center; }

h1 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(133, 161, 31, 0.6);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: 'Parisienne', cursive;
  letter-spacing: 1px;
  width: 100%;
  font-weight: normal; }

#logoAndButton {
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  width: 20%; }

#seeMoreButton {
  background-color: transparent;
  padding: 10px;
  border: 3px solid rgba(133, 161, 31, 0.6);
  width: 100%; }

#mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  padding: 20px; }
  #mainNav ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }

.mias {
  font-size: 40px;
  font-family: 'Parisienne', cursive;
  letter-spacing: 1px; }

.mias:after {
  display: block;
  content: '';
  position: absolute;
  background-color: black;
  width: 45px;
  height: 1px; }

#navItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #navItems li {
    margin-right: 10px;
    padding-top: 17px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.9s ease;
    transition: background-color 0.9s ease; }

#navItems button {
  background-color: transparent;
  border: none; }

.colorBackground {
  background-color: rgba(133, 161, 31, 0.6);
  padding-bottom: 50px;
  margin: 0 auto;
  width: 90%; }

#menuTitle {
  margin-bottom: 0; }

.menuContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px; }
  .menuContent p {
    font-size: 16px;
    font-style: italic; }
  .menuContent div {
    padding: 10px; }

#galleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

.galleryImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#specialsTitle {
  margin-bottom: 0; }

#weekButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }

.galleryButton {
  background-color: transparent;
  border: 3px solid rgba(133, 161, 31, 0.6);
  margin: 5px; }

#specialsPictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px; }

#specialsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#contactH2 {
  margin-bottom: 30px; }

#socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px; }
  #socialIcons .fa {
    font-size: 20px;
    padding-right: 10px;
    color: rgba(133, 161, 31, 0.6); }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  form input[value=Submit] {
    background-color: transparent;
    border: 5px solid rgba(133, 161, 31, 0.6);
    font-size: 18px; }

.formText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%; }
  .formText input, .formText textarea {
    padding: 10px;
    margin: 10px;
    border: 1px solid black; }

::-webkit-input-placeholder {
  color: #85a11f; }

:-ms-input-placeholder {
  color: #85a11f; }

::placeholder {
  color: #85a11f; }

footer {
  background-color: rgba(133, 161, 31, 0.6);
  margin-top: 150px;
  padding: 50px; }

#footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  #footerContent h4 {
    font-size: 21px; }
  #footerContent div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

#callUs p:first-child, #findUs p:first-child, #hoursMonFri p:first-child, #hoursSatSun p:first-child {
  margin-bottom: 0; }

#callUs p:nth-child(2), #findUs p:nth-child(2), #hoursMonFri p:nth-child(2), #hoursSatSun p:nth-child(2) {
  margin-top: 5px; }

input[type=text] {
  padding: 5px;
  margin-top: 6px; }

div#footerSocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none; }
  div#footerSocialIcons li {
    padding: 10px;
    font-size: 20px; }
  div#footerSocialIcons .fa {
    color: black; }

#submitSubscribe {
  padding: 5px;
  margin-top: 6px;
  width: 180px; }

body {
  margin: 0 auto;
  max-width: 100%;
  font-family: 'Raleway', sans-serif; }

img {
  max-width: 100%; }

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Parisienne', cursive;
  font-size: 40px;
  letter-spacing: 1px;
  margin-top: 150px;
  padding-top: 40px; }

h2:after {
  display: block;
  content: '';
  position: absolute;
  background-color: black;
  width: 45px;
  height: 1px; }

h4 {
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 0px;
  font-style: italic; }

@media (max-width: 768px) {
  h1 {
    background-color: transparent; }
  .menuContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  #galleryDays {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 480px) {
  #mainNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  #navItems {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%; }
  #logoAndButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  #seeMoreButton {
    width: 100%; }
  .formText {
    width: 100%; }
  #footerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
